[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/gcsq
Name=Content Filter
Name[es]=Filtro de Contenidos
Icon=/usr/share/icons/hicolor/scalable/apps/gcsq.svg
GenericName=Configuration Tool
GenericName[es]=Herramienta de Configuración
Categories=System;Settings
